.btn.random{
  /* have to set background image */
  background-image: url('/path/to/icon.svg');
}

.btn.play {
  /* have to set background image */
  background-image: url('/path/to/icon.svg');
}

.btn.pause {
  /* have to set background image */
  background-image: url('/path/to/icon.svg');
}

.btn.stop{
  /* have to set background image */
  background-image: url('/path/to/icon.svg');
}

.btn.bubble {
  /* have to set background image */
  background-image: url('/path/to/icon.svg');
  position: absolute;
  right: 20px;
  top: 80px;
}

.btn.merge {
  /* have to set background image */
  background-image: url('/path/to/icon.svg');
  position: absolute;
  right: 20px;
  top: 130px;
}

